@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks!</h2>

<p>We appreciate your interest and someone will be in touch with you shortly.</p>

<p>If your situation requires an urgent response, give us a call on <strong>0115 888 1330</strong>.</p>

<input class="btn-success" type="button" value="Return to Home" onclick="location.href='/'" />