body {
	padding-top:50px;
	padding-bottom:20px;
	background-color:#fbfbef
}

.body-content {
	padding-left:15px;
	padding-right:15px
}

input,select,textarea{
}

.field-validation-error{
	color:#b94a48
}

.field-validation-valid{
	display:none
}

input.input-validation-error{
	border:1px solid #b94a48
}

input[type="checkbox"].input-validation-error{
	border:0 none
}

.validation-summary-errors{
	color:#b94a48
}

.validation-summary-valid{
	display:none
}

#logo-image{
	max-width:100%;
	max-height:100%
}

#intro-video{
	margin-top:15px;
	max-width:100%;
	max-height:100%
}

#events-table{
	max-width:100%;
	max-height:100%
}

.container{
	padding:20px
}

.price{
	font-size:60px
}

.text-outline{
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}

.live {
    background-color: #E1F5A9 !important;
}